# BLU01 - Exercises Notebook

**Important Note**

Attention Windows users: The grader will run on Linux, and using power shell statements will not work.

In [1]:
import chardet
import hashlib # for grading purposes
import math
import numpy as np
import csv
import pandas as pd
import random

## Q1: Use a shell command to count lines

In [2]:
# Count the total number of lines of files data/exercises/python_and_open_source.txt and data/exercises/finance.txt
# and store the result in variable count_total.  
# There is more than one way to do this. Hint: concatenate both files.
count_open_source = ! wc -l < data/exercises/python_and_open_source.txt
count_finance = ! wc -l < data/exercises/finance.txt
count_total = 27

In [3]:
expected_hash = '670671cd97404156226e507973f2ab8330d3022ca96e0c93bdbdb320c41adcaf'
assert hashlib.sha256(str(count_total).encode()).hexdigest() == expected_hash, "count_total is wrong"

Now store in 2 variables the first third and the last third of the lines existent in file data/exercises/finance.txt.

In [4]:
count_finance

['16']

In [5]:
# NOT GRADED optional exercise!!
# Add the first third and the last third of the lines to the variables first_third and last_third. 
# Make it work to any files using count_total_finance / 3 for instance in the bash commands
count_total_finance = ! wc -l < data/exercises/finance.txt
first_third = ! head -5 data/exercises/finance.txt
last_third = ! tail -5 data/exercises/finance.txt

In [6]:
# Test the first_third and last_third exercise by running the following (ungraded) asserts.
assert first_third[-1][0] == 's'
assert last_third[0][0] == 'm'

## Q2: Read a file with specific delimiter

Read file **data/exercises/microsoft_info.csv** into a pandas DataFrame. This file contains information about the company Microsoft including the country the headquarters is located, the website link but also financial information.

First, you should preview the file using a shell command in order to find out the used delimiter, and other properties of this file.

Then, you should use function read_csv to read the data into a DataFrame. The resulting DataFrame should have the first column as index.

In [7]:
import os

In [8]:
# Use a shell command to preview the data
! cat data/exercises/microsoft_info.csv

# Use function read_csv to read the data into a DataFrame
df2 = pd.read_csv(os.path.join("data", "exercises", "microsoft_info.csv"), index_col = "Key")
df2

Trailing peg ratio,2.131

                                                        Value
Key
Zip                                                98052-6399
Sector                                             Technology
Full time employees                                     221 K
City                                                  Redmond
Phone                                            425 882 8080
...                                                       ...
Day high                                              282.435
Regular market price                                  277.750
Pre market price                                      278.180
Logo_url              https://logo.clearbit.com/microsoft.com
Trailing peg ratio                                      2.131

[123 rows x 1 columns]

In [9]:
assert df2.loc['City', 'Value'] == 'Redmond', "df2 data is wrong, the city of the headquarters is wrong."
assert set(df2.columns) == {'Value'}, "df2 data is wrong, the columns do not match what is expected."
assert len(df2) == 123, "df2 data is wrong, the length is different than expected."
assert df2.index[34] == 'Total debt', "df2 data is wrong, the positions are wrong."

expected_hash = '99a52df3ff3d499488e2fa28150c4106a2cb5e928891a830a9aa3922b2d32160'
assert hashlib.sha256(df2.index.name.encode()).hexdigest() == expected_hash

## Q3: Read a csv file with problems

Read file **data/exercises/microsoft_info_w_problems.csv** using function `read_csv`. Pay attention to the following:
* use the first column as index
* there are some inputs in the file that should be interpreted as NaN, make sure you select the right one when reading the file!

In [10]:
# Read file data/exercises/microsoft_info_w_problems.csv with read_csv
df3 = pd.read_csv(os.path.join("data", "exercises", "microsoft_info_w_problems.csv"), index_col = "Key",
                 na_values={'Value': 'no-data'})
df3

                             Value
Key
Zip                     98052-6399
Sector                  Technology
Full time employees          221 K
City                       Redmond
Phone                 425 882 8080
...                            ...
Day high                   282.435
Regular market price       277.750
Pre market price           278.180
Logo_url                       NaN
Trailing peg ratio           2.131

[123 rows x 1 columns]

In [11]:
assert np.isnan(df3.loc['Logo_url', 'Value']), "df3 data is wrong, there seems to be existing NaNs."
assert df3.loc['Full time employees', 'Value'] == '221 K', "df3  data is wrong, the total amount of full time employees can't be found."
assert df3.iloc[6]['Value'] == 'United States', "df3 data is wrong, the positions of the object are wrong."

expected_hash = '99a52df3ff3d499488e2fa28150c4106a2cb5e928891a830a9aa3922b2d32160'
assert hashlib.sha256(df3.index.name.encode()).hexdigest() == expected_hash

## Q4: Repair a csv file after importing
Read a new file **data/exercises/countries_gdp.csv** using function `csv.reader()` which includes information about the GDP of several countries from 2000 Q1 until 2022 Q3. The GDP stands for "_Gross Domestic Product" and is "the standard measure of the value added created through the production of goods and services in a country during a certain period_" (Source: Wikipedia). Be sure you don't miss any lines with relevant information! 

* use csv module to import everything to a list of lists
* create a df with information from the first four columns (countries)
* format the columns with the right type (don't forget to change the date from a string)
* set the index of the df to the `date`

In [12]:
f = open(os.path.join("data", "exercises", "countries_gdp.csv"), 'r')
lines = list(csv.reader(f))
# create a dataframe using the line list with only 4 columns (countries)
csv_list = [i[:5] for i in lines]
f.close()
df4 = pd.DataFrame(csv_list[1:], columns = csv_list[0])

# replace empty values with nan (np.nan)
#df4 = df4.str.replace("", np.nan)

for i in range(len(csv_list[0])):
    df4[csv_list[0][i]] = df4[csv_list[0][i]].replace(r'^\s*$', np.nan, regex=True)

    
# set types per dataframe column, including the date (always use float64 when floats are needed)
for i in range(1,5):
    df4[csv_list[0][i]] = df4[csv_list[0][i]].astype(float)
df4["date"] = pd.to_datetime(df4["date"])
# set a new index to the dataframe
df4 = df4.set_index("date")

df4.head()

            France_GDP  Germany_GDP  Italy_GDP  Netherlands_GDP
date
2000-01-01     362.551      524.635    304.165          109.902
2000-04-01     367.868      527.769    309.196          111.926
2000-07-01     372.492      529.088    311.721          114.094
2000-10-01     377.348      527.676    318.196          116.259
2001-01-01     380.839      541.631    322.663          119.032

In [13]:
assert np.isnan(df4.loc['2022-04-01', 'Netherlands_GDP']), "df4 content is wrong"
assert df4.loc['2001-01-01', 'France_GDP'] == 380.839, "df4 content is wrong"

mean_germany_gdp = df4['Germany_GDP'].mean()
assert math.isclose(689.10, mean_germany_gdp, rel_tol=1e-3), "df4 content is wrong"

assert df4['Italy_GDP'].dtype == np.float64, "df4 types are wrong"
assert df4.index.dtype == np.dtype('<M8[ns]'), "df4 types are wrong"

expected_hash = '0e87632cd46bd4907c516317eb6d81fe0f921a23c7643018f21292894b470681'
assert hashlib.sha256(df4.index.name.encode()).hexdigest() == expected_hash

## Q5: Read a JSON file

Read file **data/exercises/portugal_production_of_electricity_gwh.json**.

In [14]:
# Read file data/exercises/portugal_production_of_electricity_gwh.json with read_json
df5 = pd.read_json(os.path.join("data", "exercises", "portugal_production_of_electricity_gwh.json"), orient = "table")
df5.head()

,Year,Total,Total renewables,Hydropower > 10MW,Hydropower < 10MW,Biomass,Windpower,Geothermal power,Photovoltaic
0,1995,33264,9501,7962,492,988,16,42,1
1,1996,34520,15895,14007,658,959,21,49,1
2,1997,34207,14301,12537,638,1036,38,51,1
3,1998,38984,14224,12488,566,1022,89,58,1
4,1999,43287,8915,7042,589,1081,122,80,1

In [15]:
assert len(df5) == 23
assert set(df5.columns) == {'Biomass', 'Geothermal power', 'Hydropower < 10MW', 'Hydropower > 10MW', 
                           'Photovoltaic', 'Total','Total renewables','Windpower','Year'}, "df5 columns are wrong"

expected_hash = '48beaa4bb16f0656bb4e4d3abb5da6ff6a50b52be037354f8c33455a7534102e'
assert hashlib.sha256(str(df5.loc[:,'Hydropower > 10MW'].sum()).encode()).hexdigest() == expected_hash, "df5 content is wrong"

## Q6: Read an Excel file

Read file **data/exercises/portugal_gas_emissions_per_year.xlsx** using function read_excel. Pay attention to the following:

* you should grab the table "Series" in sheet "metadata"
* use column 'Serie' as index
* make sure you keep only the rows and columns with data
* set the variable distinct_scales with the number of distinct scales found in the table

In [16]:
# Read file data/exercises/portugal_gas_emissions_per_year.xlsx with read_excel
df6 = pd.read_excel(os.path.join("data", "exercises", "portugal_gas_emissions_per_year.xlsx"), sheet_name= "metadata", 
                    skipfooter=6, skiprows = 22, index_col= "Serie")
distinct_scales = 2
df6

,Measure Unit,Value Type,Scale,Notes
Serie,,,,
Carbon dioxide from fossil origin,t (tonne),Absolute Value,10^3,NaN
Carbon dioxide from biomass,t (tonne),Absolute Value,10^3,NaN
Nitrous oxide,t (tonne),Absolute Value,N.º,NaN
Methane,t (tonne),Absolute Value,N.º,NaN
Ammonia,t (tonne),Absolute Value,N.º,NaN
Non-methane volatile organic compounds,t (tonne),Absolute Value,N.º,NaN
Carbon monoxide,t (tonne),Absolute Value,N.º,NaN
Nitrogen oxides,t NO2eq,Absolute Value,N.º,t NO2eq = tonne of nitrogen dioxide equivalent
Sulphur oxides,t SO2eq,Absolute Value,N.º,t SO2eq = tonne of sulphur dioxide equivalent
Hydrofluorcarbons,t CO2eq,Absolute Value,N.º,t CO2eq = tonne of carbon dioxide equivalent
Sulphur hexafluoride,t CO2eq,Absolute Value,N.º,t CO2eq = tonne of carbon dioxide equivalent

In [17]:
assert distinct_scales == 2
assert isinstance(df6, pd.DataFrame)
expected_hash = '60c3ad36f77e7366103fe36a3f551a0cde7d64e26d3102ddb8b953d6208a6006'
assert hashlib.sha256(
        df6.loc[
            df6.index=="Nitrogen oxides", 
            "Measure Unit"][0].encode()
    ).hexdigest() == expected_hash, "df6 is wrong"

## Q7: Find the encoding of a file

Find the encoding used in file **data/exercises/cities.csv**, using the method that was shown in the Learning Units.

Then, read the data into a DataFrame, using the read_csv method and find the `City` characters that has distance equal to 2377.

In [18]:
# Find the encoding of file data/exercises/cities.csv
chardet.detect(open(os.path.join('data', 'exercises', 'cities.csv'), 'rb').read())
encoding ='IBM866'
# Read the file into a DataFrame
df7 = pd.read_csv(os.path.join('data', 'exercises', 'cities.csv'), encoding='IBM866')
df7

# Find the name of the city with distance = 7503
city_found = "Абинск"

In [19]:
assert isinstance(df7, pd.DataFrame)

expected_hash_1 = '969aef39a1d4cb1c5928c774cd7a4e3ccfc064a18fbd43a70193a2631d8a122d'
assert hashlib.sha256(encoding.encode()).hexdigest() == expected_hash_1, "encoding is wrong"

expected_hash_2 = '8086d7adc029756c1b9094df64f6e79017dcc5a99c3c5e55b47beede11179a2b'
assert hashlib.sha256(city_found.encode()).hexdigest() == expected_hash_2, "city_found is wrong"

## Q8: Import a Random Sample of a Big File

Consider the file **data/exercises/world_percentage_of_literacy.tsv**. Let's imagine this file is really huge, with a lot of rows!  Read the file using a random sample of 10 rows. Count the actual lines with `wc`

In [20]:
# Read file data/exercises/world_percentage_of_literacy.tsv with wc and save the number of lines
# in lines_in_file (as an integer), using 
# lines_in_file = ...
# Notice that the header is not a line..

lines_in_file = ! wc -l < data/exercises/world_percentage_of_literacy.tsv
lines_in_file = int(lines_in_file[0])-1
lines_in_file

# make parameter rows_to_skip equal to the lines you want to skip loading 
# don't forget: 10 rows should be fetched
sample_number = 10
n_rows_to_skip = lines_in_file - sample_number
random.seed(42)
rows_to_skip = random.sample(range(1, lines_in_file-1), n_rows_to_skip)

# Create a df8 dataframe with the sampled values
# don't forget: you want to keep the header plus 10 rows in the new dataframe.
df8 = pd.read_csv(os.path.join("data", "exercises", "world_percentage_of_literacy.tsv"), sep = "\t", skiprows=rows_to_skip)
df8

,Country,Literacy rate (all),Male literacy,Female literacy,Gender difference
0,Albania,97.6%,98.4%,96.8%,1.6%
1,Bahamas,not reported by UNESCO 2015,NaN,NaN,NaN
2,Bahrain,95.7%,96.9%,93.5%,3.5%
3,Ivory Coast,43.1%,53.1%,32.5%,20.6%
4,Iran,86.8%,91.2%,82.5%,8.7%
5,Serbia,98.1%,99.1%,97.2%,1.9%
6,Sweden,not reported by UNESCO 2015,NaN,NaN,NaN
7,Switzerland,not reported by UNESCO 2015,NaN,NaN,NaN
8,Zambia,63.4%,70.9%,56.0%,14.9%
9,Zimbabwe,86.5%,88.5%,84.6%,4.0%

In [21]:
df_test = df8.copy()
df_test = df_test.dropna()
df_test["Literacy rate (all)"] = df_test["Literacy rate (all)"].str.strip("%").astype(float)
df_test

,Country,Literacy rate (all),Male literacy,Female literacy,Gender difference
0,Albania,97.6,98.4%,96.8%,1.6%
2,Bahrain,95.7,96.9%,93.5%,3.5%
3,Ivory Coast,43.1,53.1%,32.5%,20.6%
4,Iran,86.8,91.2%,82.5%,8.7%
5,Serbia,98.1,99.1%,97.2%,1.9%
8,Zambia,63.4,70.9%,56.0%,14.9%
9,Zimbabwe,86.5,88.5%,84.6%,4.0%

In [22]:
# getting remaining list of countries, removing rows_to_skip from the file
df_helper = pd.read_csv( 
    'data/exercises/world_percentage_of_literacy.tsv', 
    sep='\t',
    header=0 
)

total_indexes = list(df_helper.index)
for s in rows_to_skip:
    total_indexes.remove(s-1)

expected_hash = '7559ca4a957c8c82ba04781cd66a68d6022229fca0e8e88d8e487c96ee4446d0'
assert hashlib.sha256(str(lines_in_file).encode()).hexdigest() == expected_hash, "lines_in_file are wrong"
assert isinstance(df8, pd.DataFrame)
assert list(df8['Country'])==list(df_helper.iloc[total_indexes]['Country'])
assert df8.shape[0]==10, "df8 size is wrong"

expected_hash = '4a44dc15364204a80fe80e9039455cc1608281820fe2b24f1e5233ade6af1dd5'
assert  hashlib.sha256(str(df8.shape[0]).encode()).hexdigest() == expected_hash

## Q9: Loading a Big File

Read file **data/exercises/world_percentage_of_literacy.tsv** using chunks keep only the columns `Country` and `Gender difference`.
Note that:
* file should be read by chunks of 20 countries
* the missing values for `Gender difference` should be removed (filtered in each chunk)
* the `Gender difference` should be converted to type float (in each chunk)
* the index should be incremental starting from 0 (i.e, you don't need to read any column as the index)

At the end, calculate the average `Gender difference`

Tip: Be sure you investigate the data you are about to load before doing any code.

In [27]:
# Read file data/exercises/world_percentage_of_literacy.tsv
# the chunks should be appended in a list called chunk_arr
# YOUR CODE HERE
chunks_iter = pd.read_csv(os.path.join("data", "exercises", "world_percentage_of_literacy.tsv"), sep= "\t", chunksize=20)
# df9 should be the final dataframe with concatenated chunks
# Resulting average should go on lit_avg variable
# YOUR CODE HERE
def clean_data(data):
    data = data.dropna()
    data.loc[:, "Gender difference"] = data["Gender difference"].str.strip("%").astype(float)
    return data


#join all chunks together and aplly the created functions
chunk_arr = []
for data_chunk in chunks_iter:
    data_clean = clean_data(data_chunk)
    chunk_arr.append(data_clean)
    
df9 = pd.concat(chunk_arr, axis=0)
df9.head()

lit_avg = np.sum(df9["Gender difference"])/len(df9["Gender difference"])

/tmp/ipykernel_117/215785207.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "Gender difference"] = data.loc[:, "Gender difference"].str.strip("%").astype(float)
/tmp/ipykernel_117/215785207.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "Gender difference"] = data.loc[:, "Gender difference"].str.strip("%").astype(float)
/tmp/ipykernel_117/215785207.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "Gender difference"] = data.loc[:, "Gender difference"].str.strip("%").astype(float)
/tmp/ipykernel_117/215785207.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "Gender difference"] = data.loc[:, "Gender difference"].str.strip("%").astype(float)
/tmp/ipykernel_117/215785207.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "Gender difference"] = data.loc[:, "Gender difference"].str.strip("%").astype(float)
/tmp/ipykernel_117/215785207.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "Gender difference"] = data.loc[:, "Gender difference"].str.strip("%").astype(float)
/tmp/ipykernel_117/215785207.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "Gender difference"] = data.loc[:, "Gender difference"].str.strip("%").astype(float)
/tmp/ipykernel_117/215785207.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "Gender difference"] = data.loc[:, "Gender difference"].str.strip("%").astype(float)
/tmp/ipykernel_117/215785207.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "Gender difference"] = data.loc[:, "Gender difference"].str.strip("%").astype(float)
/tmp/ipykernel_117/215785207.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "Gender difference"] = data.loc[:, "Gender difference"].str.strip("%").astype(float)

In [24]:
expected_hash = 'cc63c8d6f0f9a8260d40b5c9a62d4fce5b693bab5750c90fd1f038ff64e37d6d'
assert hashlib.sha256(str([len(c) for c in chunk_arr]).encode()).hexdigest() == expected_hash, "error on chunk_arr sizes, did you correctly remove the missing values?"

assert df9.loc[df9['Country']=='World', 'Gender difference'].values[0] == 7.3, "df9 data is wrong"
assert df9.dtypes['Country'] == object, "df9 structure is wrong"
assert df9.dtypes['Gender difference'] == float, "df9 structure is wrong" 

expected_hash = 'c4d7d45402099baaea8a079580a4ef950016ef7403178f72e64ceb3738e4471d'
assert hashlib.sha256(str(lit_avg).encode()).hexdigest() == expected_hash, "lit_avg is wrong"

## Q10: Calculate average values of `Literacy rate (all)` using chunks and avoiding a complete data frame in memory.

Using chunks, read file **data/exercises/world_percentage_of_literacy.tsv**, avoid incomplete rows within `Literacy rate (all)` and calculate the average of `Literacy rate (all)` without loading all data simultaneously. 

Use a similar approach of the previous question but don't create any dataframe neither any list with chunks; ***Hint: Use the average definition***

In [25]:
# Read file data/exercises/world_percentage_of_literacy.tsv
# the final average should be in the variable final_avg
# You should increment 2 variables in each chunk and use them at the end to calculate final_avg. call them lit_a, lit_b
# YOUR CODE HERE
chunks_iter = pd.read_csv(os.path.join("data", "exercises", "world_percentage_of_literacy.tsv"), sep= "\t", chunksize=20)

def clean_data_l(data):
    data = data.dropna()
    data["Literacy rate (all)"] = data["Literacy rate (all)"].str.split('%').str.get(0).astype(float)
    return data
    

lit_a = 0
lit_b = 0
 

for data_chunk in chunks_iter:
    data = clean_data_l(data_chunk)
    lit_a += np.sum(data["Literacy rate (all)"])
    lit_b += len(data["Literacy rate (all)"])
    
final_avg = lit_a/lit_b

/tmp/ipykernel_117/2114325331.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Literacy rate (all)"] = data["Literacy rate (all)"].str.split('%').str.get(0).astype(float)
/tmp/ipykernel_117/2114325331.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Literacy rate (all)"] = data["Literacy rate (all)"].str.split('%').str.get(0).astype(float)
/tmp/ipykernel_117/2114325331.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Literacy rate (all)"] = data["Literacy rate (all)"].str.split('%').str.get(0).astype(float)
/tmp/ipykernel_117/2114325331.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Literacy rate (all)"] = data["Literacy rate (all)"].str.split('%').str.get(0).astype(float)
/tmp/ipykernel_117/2114325331.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Literacy rate (all)"] = data["Literacy rate (all)"].str.split('%').str.get(0).astype(float)
/tmp/ipykernel_117/2114325331.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Literacy rate (all)"] = data["Literacy rate (all)"].str.split('%').str.get(0).astype(float)
/tmp/ipykernel_117/2114325331.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Literacy rate (all)"] = data["Literacy rate (all)"].str.split('%').str.get(0).astype(float)
/tmp/ipykernel_117/2114325331.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Literacy rate (all)"] = data["Literacy rate (all)"].str.split('%').str.get(0).astype(float)
/tmp/ipykernel_117/2114325331.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Literacy rate (all)"] = data["Literacy rate (all)"].str.split('%').str.get(0).astype(float)
/tmp/ipykernel_117/2114325331.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Literacy rate (all)"] = data["Literacy rate (all)"].str.split('%').str.get(0).astype(float)

In [26]:
assert math.isclose(83.24370860927154, final_avg, rel_tol=1e-1), "final_avg is wrong"
assert lit_b==151 or lit_a==151, "lit_a or lit_b is wrong"
assert int(lit_b) == 12569 or int(lit_a)==12569, "lit_a or lit_b is wrong"